@font-face {
  font-family: MTS-Black;
  src: url('../fonts/MTSSans-Black.otf');
}
@font-face {
  font-family: MTS-Bold;
  src: url('../fonts/MTSSans-Bold.otf');
}
@font-face {
  font-family: MTS-Medium;
  src: url('../fonts/MTSSans-Medium.otf');
}
@font-face {
  font-family: MTS-Regular;
  src: url('../fonts/MTSSans-Regular.otf');
}
@font-face {
  font-family: MTS-UltraWide;
  src: url('../fonts/MTSSans-UltraWide.otf');
}
* {
  font-family: Bip;
  margin: 0;
  padding: 0;
}
div, p, span, h1, h2, h3, h4, img {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}
canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
#root {
  position: fixed;
}